
.square-box-red {
    position: fixed;
    right: 450px;
    bottom: 180px;
    width: 300px;
    height: 300px;
    border: 1.5px solid rgb(197, 53, 53); /* Add border styles */
}

.square-box-blue {
    position: fixed;
    right: 450px;
    bottom: 180px;
    width: 300px;
    height: 300px;
    border: 1.5px solid rgb(0, 108, 224); /* Add border styles */
}

.square-box-normal {
    position: fixed;
    right: 450px;
    bottom: 180px;
    width: 300px;
    height: 300px;
    border: 1.5px solid rgb(77, 75, 77); /* Add border styles */
}



.custom-text {
    color: #3e3d3d; /* Replace with your custom color */
}


